.homepage__display{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    border-top: 1px solid black;
}

.homepage__display > span{
padding: 8px 4px;
/* border-left: 1px solid black;
border-right: 1px solid black; */
/* border-bottom: 1px solid black; */
}